.aboutus {
    margin-top: 200px;
}

.aboutus__wripper {
    display: flex;
    justify-content: space-between;
}

.aboutus__content {
    padding-top: 43px;
    max-width: 472px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutus__content__text {
    padding-top: 33px;
}
.callback {
    padding-top: 45px;
    padding-bottom: 47px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.callback__number {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: var(--letter-spacing_1);
    color: var(--text-color);
}

.callback__any {
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: var(--letter-spacing_1);
    color: var(--text-color);
}

.callback__btn {
    display: block;
    width: 93px;
    height: 93px;
    background-color: var(--primary3);
    border-radius: 50%;
}

.aboutus__img {
    border-top-right-radius: 326px;
    border-bottom-left-radius: 123px;
}