.arrow-right__btn {
    display: block;
    width: 70px;
    height: 70px;
    background-color: var(--primary3);
    border-radius: 50%;

    align-items: center;

	&--small {
		width: 52px;
		height: 52px;
	}
}

.btn,
a.btn {

	margin-top: 3px;
	padding: 26px 37px;
	min-width: 220px;
	height: 75px;

	background: #292F36;

	font-family: var(--font-family);
	font-weight: 600;
	font-size: 18px;
	line-height: 125%;
	letter-spacing: 0.36px;

	display: flex;
	gap: 15px;
	align-items: center;
	color: #fff;

	transition: all 0.2s ease-in;
	border-radius: 18px;

	&--white {
		width: 240px;
		padding: 26px 31px;
		background: var(--primary1) !important;
	}

	// &:hover {
	// 	background: var(--neutral-grayededed);
	// }

	// @include mobile {
	// 	padding: 8px 9px;
	// 	min-width: unset;
	// }

	// &--small {
	// 	min-width: unset;
	// 	padding-left: 15px;
	// 	padding-right: 15px;
	// }

	// &--mobile-wide {
	// 	@include mobile {
	// 		min-width: unset;
	// 		width: 100%;
	// 		text-align: left;
	// 		padding: 8px 16px;
	// 	}
	// }
}

// a.btn-outline,
// .btn-outline {
// 	display: inline-block;

// 	border: 1px solid var(--primary-primary-600);
// 	padding: 8px 16px;
// 	height: 40px;

// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	gap: 4px;

// 	font-family: var(--font-family);
// 	font-weight: 400;
// 	font-size: 14px;
// 	line-height: 171%;
// 	text-transform: capitalize;
// 	text-align: center;
// 	color: var(--primary-primary-600);

// 	&:hover {
// 		color: var(--primary-primary-700);
// 	}
// }


