.counter {
    margin-top: 200px;
    background-color: #F4F0EC;
}

.counter__items {
    padding: 151px 0px;
    display: flex;
}

.counter__item {
    position: relative;
    width: 300px;
}

.counter__item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    height: 130px;
    
    border-right: 2px solid var(--primary1);
  }

.counter__item__number {
    font-family: var(--font-accent);
    font-size: 85px;
    line-height: 125%;
    letter-spacing: 1.7px;
    color: var(--primary1);

    text-align: center;
}

.counter__item__text {
    padding-top: 16px;
    text-align: center;
}