.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
}

.icon--search {
	fill: #292F36;
}

.icon--person {
	fill: #fff;
}

.icon--favorite {
	stroke: #0c0c0c;
	fill: #fff;
}

.icon--bag {
	// stroke: #fff;
	fill: #fff;
	// fill: #0c0c0c;
}

.icon--menu {
	width: 48px;
	fill: #fff;
}

.icon--arrow-down {
	fill: #0c0c0c;
}

.icon--arrow-right {
	width: 25px;
	fill: #CDA274;

	&--white {
		fill: #000;
	}
}

.icon--social {
	height: 22px;
	fill: #292F36;
}

.icon--call-Icon {
	width: 32px;
	height: 32px;
	// fill: #F4F0EC;
	stroke: #CDA274;
}

.icon--btn-arrow {
	width: 8px;
	height: 18px;
	// fill: #F4F0EC;
	stroke: #000;

	&--small {
		width: 6px;
		height: 13px;
	}
}
