.howwework {
    margin-top: 200px;
}

.howwework__wripper {
    padding: 160px 116px;
    border-radius: 70px;
    background-color: #F4F0EC;

    .title {
        text-align: center;
    }

    .text {
        margin: 0 auto;
        max-width: 800px;
        text-align: center;
        // text-wrap: wrap;
    }
}

.howwework__cards {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 70px;

    .title-3 {
        padding-bottom: 11px;
    }

    .text {
        text-align: left;
    }
}

.howwework__card {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.howwework__card--revers {
    flex-direction: row-reverse;
}

.howwework__card__img {
    border-top-right-radius: 200px;
    border-bottom-left-radius: 300px;
}

.howwework__card__content {
    width: 456px;
    height: 314px;
    display: flex;
    flex-direction: column;
    gap: 58px;
}

.howwework__card__content__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title{
        font-size: 120px;
        color: #fff;
    }
}

.howwework__card__icon {
    width: 92px;
}

.howwework__card__number {

}