.page-header {
	// position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;
    height: 356px;
    
    // background-color: red;
	background-position: center center; /* x y */
	background-size: cover;
	background-repeat: no-repeat;

}

.page-header--Services {
    background-image: url('./../../img/header/header-Services.jpg');
}

.page-header--About {
    background-image: url('./../../img/header/header-About.jpg');
}

.page-header__name {
	margin: 0 auto;
	padding-top: 41px;
	width: 503px;
	height: 178px;
	background-color: #fff;

	border-top-left-radius: 37px;
	border-top-right-radius: 37px;
	text-align: center;
}