.service__details__wripper {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    gap: 97px;

    .title {
        max-width: 448px;
    }

    .text {
        max-width: 655px;
        text-align: justify;
        
        p {
            margin-top: 28px;
        }

        .color {
            font-size: 25px;
            color: #CDA274;
            margin-top: 0;
        }
    }
}

.service__video {
    margin-top: 150px;
}

.service__video__wripper {
    // position: relative;
    max-width: 1200px;
    height: 374px;
    background-image: url('./../../img/pageService/video.jpg');
    border-radius: 70px;
}

.service__video__img {
}

.play-button {
    display: block;

    margin: 0 auto;
    padding-top: 115px;

}