.project {
    margin-top: 150px;
}

.project__title {
    text-align: center;
}


.project__subtitle {
    max-width: 737px;
    margin: 8px auto;
    text-align: center;
}

.project__cards {
    padding-top: 93px;

    display: flex;
    flex-wrap: wrap;
    gap: 98px;
}

.project__card__wripper {
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__img-tr {
        border-top-right-radius: 70px;
}

.project__img-tl {
        border-top-left-radius: 70px;
}

.project__img-br {
    border-bottom-right-radius: 70px;
}

.project__img-bl {
    border-bottom-left-radius: 70px;
}

.project__card__text__name {

}

.project__card__text__decor {
    padding-top: 4px;
}

