.social__icons {
    height: 20px;
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.people__card__icons {
    width: 157px;
}

.footer__social__icons {
    margin-top: 31px;
	width: 225px;
}

.social__icons a {
    line-height: 0;
}