.title {
	font-family: var(--font-title);
	font-weight: 400;
    font-size: 50px;
    line-height: 125%;
    letter-spacing: 1px;
    color: var(--title-color);
	// text-align: center;
    text-wrap: wrap;
}

.text {
	font-family: var(--font-family);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
	color: var(--text-color);
    text-wrap: wrap;

	&--small {
		font-size: 18px;
		letter-spacing: 0.18px;
		text-align: center;
	}
}

.title-2 {
	font-family: var(--font-title);
	font-weight: 400;
	font-size: 25px;
	line-height: 125%;
	letter-spacing: 0.5px;

	color: var(--title-color);
	text-wrap: wrap;
	// text-align: center;
}

.title-1 {
	margin: 1em 0 0.5em;
	font-size: 38px;
	font-weight: 700;
	font-family: var(--font-titles);
}


.title-3 {
	font-family: var(--font-title);
	font-weight: 400;
    font-size: 35px;
    line-height: 125%;
    letter-spacing: 0px;
    color: var(--title-color);
	text-align: left;
}

.title-4 {
	margin: 1em 0 0.5em;
	font-size: 18px;
	font-weight: 700;
	font-family: var(--font-titles);
}
