.work {
    margin-top: 117px;
}

.work__wripper {
    width: 1158px;
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    // flex-direction: row;
    column-gap: 42px;
    row-gap: 5px;
    flex-wrap: wrap;
    // &--service {
    //     column-gap: 0;
    // }
}

.work__wripper__item {
    // padding: 83px 20px;
    padding-top: 83px;
    padding-bottom: 83px;
    border-radius: 30px;
    width: 358px;
    // height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work__wripper__item:hover {
    cursor: pointer;
    background-color: #F4F0EC;
 
}

.work__wripper__item__title {
    letter-spacing: 0px !important;
}

.work__wripper__item__text {
    padding-top: 20px;
    padding-bottom: 52px;

    text-align: center;
}

.work__wripper__item__btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.36px;
    color: #4D5053;

    display: flex;
    align-items: center;
}